extends layout.pug

block content
  .container
    h1 Create New post 

    if error
      p.error Error happened! Try one more time

    if success
      p.success Your post was successfully created! 

    form.form(action="/create" method='POST')
      label Title
      input.input(type="text" placeholder="Tile" name='title')

      label Name 
      input.input2(type="text" placeholder="Name" name='fname')

      label Surname 
      input.input2(type="text" placeholder="Surname"  name='sname')

      label Gmail 
      input.input2(type="text" placeholder="Gmail" name='gmail')

      label Description
      textarea.input3(type="text", placeholder="Description" name="description")

      button.btn Create post 