extends layout.pug

block content
  .container
    h1 Create New post 

    form.form(action="/create" method='POST')
      label Title
      input.input(type="text" name='title')

      label First Name 
      input.input2(type="text" name='name')

      label Last Name 
      input.input2(type="text" name='name')

      label E-mail 
      input.input2(type="text" name='e-mail')

      label Description
      textarea.input3(type="text", name="description")

      button.btn Create post 